.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid black;
  z-index: 100;
}

.searchButton {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  font-family: inherit;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 75px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #4e75ff;
  cursor: pointer;
  transition: background-color 250ms ease;

  &:hover,
  &:focus {
    background-color: #6c8cff;
  }
}

.searchForm {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.searchInput {
  min-width: 300px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #f9f6f6;
  border-color: #fff;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  border: 2px solid #d4d1d1;
  height: 40px;
  padding-left: 16px;
  transition: border-color 250ms ease;

  &:hover,
  &:focus {
    border-color: #000;
  }

  &:focus-within {
    border-color: #fff;
  }
}
/* .header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f51b5;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  width: 100%;
  max-width: 600px;
}

.input {
  flex-grow: 1;
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #283593;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #1a237e;
} */
/* _____________________________ */
/* .searchBar {
  background-color: #3f51b5;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.searchForm {
  display: flex;
  justify-content: center;
}

.searchInput {
  flex-grow: 1;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.searchButton {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #283593;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #1a237e;
} */
/* -------------------- */

/* .form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 0;
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 0.7) 3%,
    rgba(60, 132, 206, 0.7) 38%,
    rgba(48, 238, 226, 0.7) 68%,
    rgba(255, 25, 25, 0.7) 98%
  );
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.input {
  width: 300px;
  height: 30px;
  padding: 5px 5px 5px 15px;
  font-size: 16px;
  outline: none;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  &::placeholder {
    font-size: 16px;
    color: #cccccc;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  cursor: pointer;
  &:hover,
  &:focus {
    background-color: rgba(255, 255, 126, 1);
  }
} */
