.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 фото в ряд */
  gap: 15px;
  margin: 100px 0 20px 0; /* відступи для відображення під пошуковою формою */
  padding: 0;
  list-style: none;
}

.galleryItem {
  border-radius: 8px;

  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.galleryItem:hover {
  transform: scale(1.05); /* ефект збільшення */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.image {
  width: 100%;
  height: auto;
  display: block;
}
