.imageCard {
  border: 2px solid whitesmoke;
}

.image {
  width: 100%; /* Зображення повинно займати всю доступну ширину */
  height: 250px; /* Встановіть висоту, щоб зображення не виглядали різними */
  object-fit: cover; /* Забезпечує збереження пропорцій при обрізанні */
  border-radius: 8px; /* Закруглені кути */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image:hover {
  transform: scale(1.05); /* Ефект збільшення */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Тінь при ховері */
}
